@keyframes stretch {
    0% { transform: scale(1, 1); }
    25% { transform: scale(2, 1); }
    50% { transform: scale(1,1); }
    75% { transform: scale(1,2); }
    100% { transform: scale(1,1); }
}       
@keyframes color {
        0% { background-color: rgb(254, 198, 235) ; }
        25% { background-color: rgb(223, 97, 183) ; }
        50% { background-color: rgb(254, 198, 235) ; }
        75% { background-color: rgb(90, 28, 69); }
        100% {background-color: rgb(254, 198, 235); }
}
@font-face {
    font-family: Quicksand;
    src: url(Quicksand-VariableFont_wght.ttf);
}
 h2 {
    color:rgb(139, 174, 255);
}
/* unvisited link */
a:link {
    color:rgb(139, 174, 255);
  }
  
  /* visited link */
  a:visited {
    color:rgb(139, 174, 255);
  }
  
  /* mouse over link */
  a:hover {
    color: rgb(249, 253, 3);
  }
  
  /* selected link */
  a:active {
    color:rgb(139, 174, 255);
  }
 main {
    font-family: Quicksand;
}
body {
    font-family: Quicksand;
    
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  body {
    text-align: center;
}


img {
    border: 15px ridge #7783d6;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 20%;
  }
li{
    float: left;
}

li a {
    display: block;
    padding: 8px;
    background-color:rgb(254, 198, 224) ;
    text-align: center;
}



  h2 { 
    text-align: center;
  }

  /* Add a black background color to the top navigation */
.topnav {
    position: relative;
    background-color: #bb53c5;
    overflow: hidden;
    font-family: Quicksand;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 21px;
    font-family: Quicksand;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #cde2fa;
    color: rgb(250, 147, 197);
    font-family: Quicksand;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #8604aa;
    color: rgb(253, 252, 253);
    font-family: Quicksand;
  }
  
  /* Centered section inside the top navigation */
  .topnav-centered a {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Quicksand;
  }
  
  /* Right-aligned section inside the top navigation */
  .topnav-right {
    float: right;
    font-family: Quicksand;
  }
  
  /* Responsive navigation menu - display links on top of each other instead of next to each other (for mobile devices) */
  @media screen and (max-width: 600px) {
    .topnav a, .topnav-right {
      float: none;
      display: block;
    }
  
    .topnav-centered a {
      position: relative;
      top: 0;
      left: 0;
      transform: none;
      font-family: Quicksand;
    }
  }

  main {
    padding: 4px;
    margin: 10px;
    border: dotted, lavender;
  }
.bigtext{
    padding: 4px;
    font-size: 23px;
}
body.dark-mode {
    background-color: black;
    color:cornsilk;
}
body {
    animation-name: strech;
    animation: duration 40s;
    animation-iteration-count:infinite;
    animation-timing-function: linear;
    animation-delay: 1ms;
}
  