@keyframes stretch {
    0% { transform: scale(1, 1); }
    25% { transform: scale(2, 1); }
    50% { transform: scale(1,1); }
    75% { transform: scale(1,2); }
    100% { transform: scale(1,1); }
}       
@keyframes color {
        0% { background-color: rgb(254, 198, 235) ; }
        25% { background-color: rgb(223, 97, 183) ; }
        50% { background-color: rgb(254, 198, 235) ; }
        75% { background-color: rgb(90, 28, 69); }
        100% {background-color: rgb(254, 198, 235); }
}
@keyframes drop-in {
    from {
      transform:
        rotate(-30deg) translateY(-100%);
      opacity: 0;
    }
    to {
      transform:
        rotate(0deg) translateY(0%);
      opacity: 1;
    }
  }

  @keyframes drop-in2 {
    from {
      transform:
        rotate(30deg) translateY(100%);
      opacity: 0;
    }
    to {
      transform:
        rotate(0deg) translateY(0%);
      opacity: 1;
    }
  }


  .container {
    width: 100%;
height: 100%;
}
.confetti {
width: 15px;
height: 15px;
background-color: #f2d74e;
position: absolute;
left: 50%;
animation: confetti 5s ease-in-out -2s infinite;
transform-origin: left top;
}
.confetti:nth-child(1) {
background-color: #5961fa; left: 10%; animation-delay: 0;
}
.confetti:nth-child(2) {
background-color: #92e69c; left: 20%; animation-delay: -5s;
}
.confetti:nth-child(3) {
background-color: #fb97ce; left: 30%; animation-delay: -3s;
}
.confetti:nth-child(4) {
background-color: #feefa4; left: 40%; animation-delay: -2.5s;
}
.confetti:nth-child(5) {
background-color: #92b2e6; left: 50%; animation-delay: -4s;
}
.confetti:nth-child(6) {
background-color:  #ff88a8; left: 60%; animation-delay: -6s;
}
.confetti:nth-child(7) {
background-color: #feefa4; left: 70%; animation-delay: -1.5s;
}
.confetti:nth-child(8) {
background-color: #92b2e6; left: 80%; animation-delay: -2s;
}
.confetti:nth-child(9) {
background-color:  #fb97ce; left: 90%; animation-delay: -3.5s;
}
.confetti:nth-child(10) {
background-color: #feefa4; left: 100%; animation-delay: -2.5s;
}
.confetti:nth-child(11) {
    background-color:  #cc6cfc; left: 90%; animation-delay: -3.5s;
    }
        .confetti:nth-child(12) {
        background-color: #92e69c; left: 20%; animation-delay: -5s;
        }
        .confetti:nth-child(13) {
        background-color: #fb97ce; left: 30%; animation-delay: -3s;
        }
        .confetti:nth-child(14) {
        background-color: #feefa4; left: 40%; animation-delay: -2.5s;
        }
        .confetti:nth-child(15) {
        background-color: #92b2e6; left: 50%; animation-delay: -4s;
        }
        .confetti:nth-child(16) {
        background-color:  #ff88a8; left: 60%; animation-delay: -6s;
        }
        .confetti:nth-child(17) {
        background-color: #feefa4; left: 70%; animation-delay: -1.5s;
        }
        .confetti:nth-child(18) {
        background-color: #92b2e6; left: 80%; animation-delay: -2s;
        }
        .confetti:nth-child(19) {
        background-color:  #fb97ce; left: 90%; animation-delay: -3.5s;
        }
        .confetti:nth-child(20) {
        background-color: #feefa4; left: 100%; animation-delay: -2.5s;
        }
        .confetti:nth-child(21) {
            background-color:  #cc6cfc; left: 90%; animation-delay: -3.5s;
        }
 

@keyframes confetti {
0% { transform: rotateZ(15deg) rotateY(0deg) translate(0,0); }
25% { transform: rotateZ(5deg) rotateY(360deg) translate(-5vw,20vh); }
50% { transform: rotateZ(15deg) rotateY(720deg) translate(5vw,60vh); }
75% { transform: rotateZ(5deg) rotateY(1080deg) translate(-10vw,80vh); }
100% { transform: rotateZ(15deg) rotateY(1440deg) translate(10vw,110vh); }
}





  

/* The alert message box */
.alert {
    animation: drop-in 2000ms;
    padding: 20px;
    background-color: #b330e7; /* Red */
    color: white;
    margin-bottom: 15px;
  }
  
  /* The close button */
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  /* When moving the mouse over the close button */
  .closebtn:hover {
    color: black;
  }
@font-face {
    font-family: Quicksand;
    src: url(Quicksand-VariableFont_wght.ttf);
}
 h2 {
    color:rgb(139, 174, 255);
}
/* unvisited link */
a:link {
    color:rgb(139, 174, 255);
  }
  
  /* visited link */
  a:visited {
    color:rgb(139, 174, 255);
  }
  
  /* mouse over link */
  a:hover {
    color: rgb(249, 253, 3);
  }
  
  /* selected link */
  a:active {
    color:rgb(139, 174, 255);
  }
 main {
    font-family: Quicksand;
}
body {
    font-family: Quicksand;
    
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  body {
    text-align: center;
}


img {
    border: 15px ridge #7783d6;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 20%;
  }
li{
    float: left;
}

li a {
    display: block;
    padding: 8px;
    background-color:rgb(254, 198, 224) ;
    text-align: center;
}



  h2 { 
    text-align: center;
  }

  /* Add a black background color to the top navigation */
.topnav {
    position: relative;
    background-color: #bb53c5;
    overflow: hidden;
    font-family: Quicksand;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 21px;
    font-family: Quicksand;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #cde2fa;
    color: rgb(250, 147, 197);
    font-family: Quicksand;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #8604aa;
    color: rgb(253, 252, 253);
    font-family: Quicksand;
  }
  
  /* Centered section inside the top navigation */
  .topnav-centered a {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Quicksand;
  }
  
  /* Right-aligned section inside the top navigation */
  .topnav-right {
    float: right;
    font-family: Quicksand;
  }
  
  /* Responsive navigation menu - display links on top of each other instead of next to each other (for mobile devices) */
  @media screen and (max-width: 600px) {
    .topnav a, .topnav-right {
      float: none;
      display: block;
    }
  
    .topnav-centered a {
      position: relative;
      top: 0;
      left: 0;
      transform: none;
      font-family: Quicksand;
    }
  }

  main {
    padding: 4px;
    margin: 10px;
    border: dotted, lavender;
  }
.bigtext{
    padding: 4px;
    font-size: 23px;
}
body.dark-mode {
    background-color: black;
    color:cornsilk;
}
body {
    animation-name: strech;
    animation: duration 40s;
    animation-iteration-count:infinite;
    animation-timing-function: linear;
    animation-delay: 1ms;
}
  

/* Callout box - fixed position at the bottom of the page */
.callout {
    animation: drop-in 2000ms;
    position: fixed;
    bottom: 35px;
    right: 20px;
    margin-left: 20px;
    max-width: 300px;
  }
  
  /* Callout header */
  .callout-header {
    padding: 25px 15px;
    background: #fd72c1;
    font-size: 30px;
    color: rgb(129, 1, 184);
  }
  
  /* Callout container/body */
  .callout-container {
    padding: 15px;
    background-color: #bdb3ff;
    color: rgb(168, 165, 250)
  }
  
  /* Close button */
  .closebtn2 {
    position: absolute;
    top: 5px;
    right: 15px;
    color: rgb(19, 16, 16);
    font-size: 30px;
    cursor: pointer;
  }
  
  /* Change color on mouse-over */
  .closebtn2:hover {
    color: rgb(255, 255, 255);
  }